
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/home6-modern.html   11 Nov 2019 12:28:00 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Asset/admin/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Asset/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/Asset/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Asset/assets/css/style.css">
    <link rel="stylesheet" href="~/Asset/assets/css/responsive.css">    

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="~/Asset/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Asset/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Asset/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Asset/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Asset/admin/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="template-index belle home8-jewellery">
    <div id="pre-loader">
        <img src="~/Asset/assets/images/loader.gif" alt="Loading..." />
    </div>
    <div class="pageWrapper">

        <!--Top Header-->
        <div class="top-header home8-jewellery-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center"><p class="top-header_middle-text"> Quản Lý Hệ Thống</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="@Url.Action("Home", "HomeSales", new { area = "Sales" })">
                            <img src="/Asset/assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav" role="navigation">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })" id="1">Trang chủ <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="@Url.Action("Index", "Category", new { area = "Admin" })">Danh mục <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="@Url.Action("Index", "ProductAdmin", new { area = "Admin" })">Sản phẩm<i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="@Url.Action("Index", "Order", new { area = "Admin" })">Đơn hàng <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="@Url.Action("Index", "UserData", new { area = "Admin" })">Dữ liệu người dùng<i class="anm anm-angle-down-l"></i></a>

                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <div class="col-2 col-sm-3 col-md-3 col-lg-2 d-none d-lg-block">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="/Asset/admin/images/icon/avatar-01.jpg" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">john doe</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="/Asset/admin/images/icon/avatar-01.jpg" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">john doe</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account
                                            </a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting
                                            </a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="@Url.Action("Logout", "Login", new { area = "Sales"})">
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Menu nhỏ -->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1 parent megamenu">
                    <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">Trang chủ <i class="anm anm-plus-l"></i></a>
                </li>
                <li class="lvl1 parent megamenu">
                    <a href="#">Danh mục <i class="anm anm-plus-l"></i></a>
                </li>
                <li class="lvl1 parent megamenu">
                    <a href="product-layout-1.html">Sản phẩm <i class="anm anm-plus-l"></i></a>
                </li>
                <li class="lvl1 parent megamenu">
                    <a href="product-layout-1.html">Đơn hàng <i class="anm anm-plus-l"></i></a>
                </li>
                <li class="lvl1 parent megamenu">
                    <a href="blog-left-sidebar.html">Dữ liệu người dùng <i class="anm anm-plus-l"></i></a>
                </li>
            </ul>
        </div>
        <!--End Menu nhỏ-->
        <!--Body Content-->
        <div id="page-content">

            @RenderBody()
        </div>
        <!--End Body Content-->
        <!--Footer-->
        <footer id="footer" class="footer-3">
            <div class="site-footer">
                <div class="container">
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span></span> <a href="@Url.Action("Index", null, new { area = "Admin", controller = "HomeAdmin"}, Request.Url.Scheme)">Trang chủ</a></div>
                            <!--End Footer Copyright-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->
        <!-- Including Jquery -->
        <script src="~/Asset/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="~/Asset/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="~/Asset/assets/js/vendor/jquery.cookie.js"></script>
        <script src="~/Asset/assets/js/vendor/wow.min.js"></script>
        <script src="~/Asset/assets/js/vendor/masonry.js"></script>
        <!-- Including Javascript -->
        <script src="~/Asset/assets/js/bootstrap.min.js"></script>
        <script src="~/Asset/assets/js/plugins.js"></script>
        <script src="~/Asset/assets/js/popper.min.js"></script>
        <script src="~/Asset/assets/js/lazysizes.js"></script>
        <script src="~/Asset/assets/js/main.js"></script>
        <!--For Newsletter Popup-->
        <!-- Vendor JS       -->
        <script src="~/Asset/admin/vendor/slick/slick.min.js"></script>
        <script src="~/Asset/admin/vendor/wow/wow.min.js"></script>
        <script src="~/Asset/admin/vendor/animsition/animsition.min.js"></script>
        <script src="~/Asset/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="~/Asset/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Asset/admin/vendor/counter-up/jquery.counterup.min.js"></script>
        <script src="~/Asset/admin/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Asset/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Asset/admin/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Asset/admin/vendor/select2/select2.min.js"></script>

        <!-- Main JS-->
        <script src="~/Asset/admin/js/main.js"></script>

        <!--End For Newsletter Popup-->
    </div>
</body>


</html>
